<%- include("partials/header.ejs") %>

<!-- Jumbotron-->
<header class="jumbotron jumbotron-fluid">
    <div class="row">
      <div class="col">
  <img class="title-logo" src="images/cowboysLogo2.jpeg">
  </div>
  </div>
  </header>

  <!--Making image scroll-->
 <center>
    <marquee behavior="scroll" direction="left">
        <img class="cowboysImage" src="images/cowboysBanner.jpeg" alt="cowboys-banner">
        <img class="cowboysImage" src="images/cowboysP1.jpeg" alt="cowboys-celebration">
    </marquee>
 </center>
