<%- include("partials/header.ejs") %>

<header class="jumbotron jumbotron-fluid">
    <div class="row">
      <div class="col">
  <img class="title-logo" src="images/cowboysLogo2.jpeg">
  </div>
  </div>
  </header>


<div class="row">
    <div class="column banner">
      <img src="images/trophies.jpeg" alt="cowboys-banner" style="width: 100%">
    </div>
    <div class="column stadium">
      <img src="images/cowboysStadium.jpeg" alt="cowboys-stadium" style="width: 100%">
    </div>
    <div class="column banner">
      <img src="images/trophies.jpeg" alt="cowboys-banner" style="width:100%">
    </div> 
  </div>