<%- include("partials/header.ejs") %>

<!-- Jumbotron-->
<header class="jumbotron jumbotron-fluid">
    <div class="row">
      <div class="col">
  <img class="title-logo" src="images/cowboysLogo2.jpeg">
  </div>
  </div>
  </header>

  <!--Making image scroll-->
<div class="container">
  <div class="row main">
    <div class="column">
        <img class="pic" src="images/cowboysBanner.jpeg" alt="cowboys-banner" >
        <img class="pic" src="images/cowboysP1.jpeg" alt="cowboys-celebration" >
        <img class="pic" src="images/cowboysDak.jpeg" alt="cowboys-lineup" >
        <img class="pic" src="images/cowboysP3.jpeg" alt="cowboys-mascot" >
        <img class="pic" src="images/cowboysP2.jpeg" alt="cowboys-quarterback" >
        <img class="pic" src="images/cowboys.webp" alt="cowboys-dab" >
        <img class="pic" src="images/cowboysCheer.webp" alt="cowboys-cheerleaders" >
        <img class="pic" src="images/cdLamb.jpg" alt="ceeDee" >
        <img class="pic" src="images/micah.jpg" alt="micah" >
       <img class="pic" src="images/trophies.jpeg" alt="cowboys-trophies" >
       </div>
    </div>
  </div>

        
    
  


  
 