<%- include("partials/header.ejs") %>


<audio autoplay preload='auto' loop id="myAudio">
    <source src="media/SNFtheme.mp3"  type="audio/mpeg" >
  </audio>


<!-- Jumbotron-->
<header class="jumbotron jumbotron-fluid">
    <div class="row">
      <div class="col">
  <img class="title-logo" src="images/cowboysLogo2.jpeg">
  </div>
  </div>
  </header>

  <!--NavBar-->
<section class="navi">
  <nav class="navbar navbar-expand-lg navbar-light"  >
    <a class="navbar-brand nav-link" href="#"> <img class="nav-logo"  src="images/cowboysHel.png" alt="logo"> </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#cowboysNavbar" aria-controls="cowboysNavbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="cowboysNavbar">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#"> Home </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#about">About</a>
        </li>

        </li>
      </ul>
    </div>
  </nav>
</section>

  <!--Making image scroll-->
<div class="container">
  <div class="row main">
    <div class="column">
        <img class="pic" src="images/cowboysBanner.jpeg" alt="cowboys-banner" >
        <img class="pic" src="images/cowboysP1.jpeg" alt="cowboys-celebration" >
        <img class="pic" src="images/cowboysDak.jpeg" alt="cowboys-lineup" >
        <img class="pic" src="images/cowboysP3.jpeg" alt="cowboys-mascot" >
        <img class="pic" src="images/cowboysP2.jpeg" alt="cowboys-quarterback" >
        <img class="pic" src="images/cowboys.webp" alt="cowboys-dab" >
        <img class="pic" src="images/cowboysCheer.webp" alt="cowboys-cheerleaders" >
        <img class="pic" src="images/cdLamb.jpg" alt="ceeDee" >
        <img class="pic" src="images/micah.jpg" alt="micah" >
       <img class="pic" src="images/trophies.jpeg" alt="cowboys-trophies" >
       </div>
    </div>
  </div>

        
    
  

<%- include("partials/footer.ejs") %>
  
 