.title-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
   
}

.jumbotron {
   
}

.column {
    margin-left: 50px;
  } 

.stadium {
   width: 45%;
}

.banner {
    width: 20%
}
  

